@model Coursaty.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.title)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.title)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.link)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.link)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.image)
            </div>
        </td>
        <td>
            <div class="editor-field">
                <div class="image">
                    <img src="~/images/@Model.image" alt="@Model.title" />
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.rate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.rate)
                
                @Html.Partial("~/Views/_RatingControl.cshtml")
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.views)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.views)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.description)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayFor(model => model.description)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.instructorId, "Instructor")
            </div>
        </td>
        <td>
            <div class="editor-field">
                @if(@ViewData["InstructorName"] == "" ||
                @ViewData["InstructorName"] == null)
                 {
                    <text>---</text>
                 }else{
                    @Html.DisplayFor(model => model.Instructor.name)
                }
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="editor-label">
                  @Html.LabelFor(model => model.trackId, "Track")
            </div>
        </td>
        <td>
            <div class="editor-field">
                @if(@ViewData["TrackName"] == "" || 
                @ViewData["TrackName"] == null)
                 {
                    <text>---</text>
                 }else{
                    @Html.DisplayFor(model => model.Track.name)
                 }
            </div>
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
