@model IEnumerable<Coursaty.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@foreach (var course in Model)
{
    <div class="course">
        <div class="image">
            <a href="@Url.Action("details", new { id = @course.id })"><img src="~/images/@course.image" alt="@course.title"/></a>
        </div>
        <div class="title">
            <h2>@course.title</h2>
        </div>
        <div class="meta">
            @{
                    if (course.description == null)
                    {
                        <h4><b>المزيد...</b></h4>
                    }
                    else if (course.description.ToString().Length > 30)
                    {
                        <h4>@course.description.ToString().Substring(0, 30) + "<b>المزيد...</b>"</h4>
                    }
                    else
                    {
                        <h4>@course.description.ToString() + "<b>المزيد...</b>"</h4>
                    }
            }
        </div>
    </div>
}

